@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
