@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 0 0% 89.8%;
    --box-shadow: 0 0% 0%;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 271 81% 56%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
